Repository lab-brussels-1/hyf-redesign-group-4, pull requests merged in 2022-04, with the labels that each got.

#2 added all blank md files
  package-lock.json
  planning/1-constraints.md
  planning/2-communication-plan.md
  planning/3-user-personas.md
  planning/4-backlog.md
  planning/5-design.md
  planning/6-development-strategy.md
  planning/7-retrospective.md
  planning/README.md
  planning/backlog.md
  planning/development-strategy.md
Labels: palnning, md

#5 adding kiishi's communication plan
  planning/communication-plan.md
Labels: Planning, Communication

#7 Updated Haneefa availabilty
  planning/communication-plan.md
Labels: Planning, Communication

#11 added dnyanu's communication plan
  planning/communication-plan.md
Labels: md, Planning, Communication

#12 Elias; Communication plan
  .cspell.json
  planning/communication-plan.md
Labels: Planning, Communication

#9 i added my avaialble time on this week
  planning/communication-plan.md
Labels: documentation, Planning

#14 I finished the student user persona
  planning/user-personas.md
Labels: documentation, user-persona

#22 adding sponsor to the user persona
  planning/user-personas.md
Labels: Planning, user-persona

#25 updating the sponsor in the user persona
  planning/user-personas.md
Labels: Planning, user-persona

#28 i added the could have part of the backlog
  planning/backlog.md
Labels: documentation, backlog, could have

#29 Adding ShouldHaves in the backlog file
  README.md
  planning/backlog.md
Labels: md, Planning, backlog

#31 I changed the format to match the should have
  planning/backlog.md
Labels: backlog, could-have

#36 the first part of the development strategy
  planning/development-strategy.md
Labels: Planning, development strategy

#37 Backlogmusthave
  planning/backlog.md
Labels: Planning

#38 Development strategy
  planning/backlog.md
  planning/development-strategy.md
Labels: Planning

#41 i finished the info
  index.html
  planning/assets/hyf.jpg
  planning/assets/hyf2.jpg
  planning/assets/index.jpg
  styles/something.css
Labels: info

#43 update header section
  index.html
  package-lock.json
  planning/assets/img-1.jpg
  planning/assets/logo.svg
  styles/index.css
  styles/something.css
  styles/style.css
Labels: home-page, header

#45 Info
  index.html
  styles/style.css
Labels: info

#44 Adding Contact form and the google map
  .vscode/settings.json
  index.html
  package-lock.json
  package.json
  styles/style.css
Labels: should have

#46 adding user-persona-partner
  planning/user-personas.md
Labels: Planning

#48 fixed the errors
  index.html
Labels: should have

#49 made colors similar to dnyando section
  index.html
  styles/style.css
Labels: info

#53 removed reapet code
  index.html
Labels: info, home-page

#55 Success story of 4 IT Professtionals
  index.html
Labels: home-page, css, html

#58 Successstory
  index.html
Labels: home-page

#61 Success story code pushed before contact form and image updated
  index.html
Labels: css, html

#63 Added sub-pages to pages folder
  pages/about.html
  pages/digitalents.html
  pages/faq.html
  pages/program.html
  pages/supportus.html
  pages/volunteer.html
Labels: css, html

#65 update all home page with responsive
  index.html
  styles/style.css
Labels: must have, home-page, css

#66 Footer and partners
  .DS_Store
  images/.DS_Store
  images/facebook-icon.png
  images/github-icon.png
  images/linkledin-icon.png
  images/livechat-icon.png
  images/partners.jpg
  images/twitter-icon.png
  index.html
  styles/style.css
Labels: must have, html

#68 added new header section with css
  .vscode/settings.json
  index.html
  styles/fontello.css
  styles/style.css
Labels: must have, home-page, header, css

#71 Adding the new contact form and map using css
  index.html
  styles/style.css
Labels: should have, css, html

#73 responsive header update
  index.html
  styles/style.css
Labels: must have, home-page, header, css

#75 changing bootstrap to vanilla css for footer and partner
  index.html
  styles/style.css
Labels: must have, css, html

#81 three d home page with responsive
  index.html
  styles/style.css
Labels: must have, css, html

#89 changed the picture
  .DS_Store
  images/.DS_Store
  index.html
  planning/assets/alexn.jpeg
  planning/assets/showcase.jpeg
  styles/style.css
Labels: info

#87 Added design for About page
  planning/assets/About.png
  planning/design.md
Labels: md, Planning

#92 update info and media query
  index.html
  styles/style.css
Labels: Planning, design

#93 adjusting partners image
  .DS_Store
  images/.DS_Store
  images/Screenshot 2022-04-20 at 11.49.42.png
  images/Screenshot 2022-04-20 at 11.49.54.png
  images/Screenshot 2022-04-20 at 11.50.10.png
  images/Screenshot 2022-04-20 at 11.50.22.png
  images/Screenshot 2022-04-20 at 11.50.32.png
  images/Screenshot 2022-04-20 at 11.50.41.png
  images/Screenshot 2022-04-20 at 11.50.58.png
  images/Screenshot 2022-04-20 at 11.51.11.png
  images/Screenshot 2022-04-20 at 11.51.21.png
  images/Screenshot 2022-04-20 at 11.51.36.png
  images/Screenshot 2022-04-20 at 11.51.48.png
  images/Screenshot 2022-04-20 at 11.52.01.png
  images/Screenshot 2022-04-20 at 11.52.14.png
  images/Screenshot 2022-04-20 at 11.52.30.png
  images/Screenshot 2022-04-20 at 11.52.40.png
  images/Screenshot 2022-04-20 at 11.52.49.png
  images/Screenshot 2022-04-20 at 11.53.00.png
  images/Screenshot 2022-04-20 at 12.23.55.png
  images/partners.jpg
  index.html
  styles/style.css
Labels: must have, html

#95 Programdesign
  planning/assets/programdesign.png
  planning/design.md
Labels: Planning, design, program

#100 added responsive support us page
  .DS_Store
  index.html
  pages/supportus.html
  planning/assets/diversity.png
  planning/assets/hand.png
  planning/assets/img2-min.jpg
  planning/assets/screen.png
  planning/assets/student.png
  styles/style.css
Labels: should have, css, html, support-us

#102 Adding about page
  pages/about.html
  planning/assets/Daniel.png
  planning/assets/Evan.png
  planning/assets/Gelila.png
  planning/assets/Hind.png
  planning/assets/Lizhen.png
  planning/assets/Yoshi.png
  planning/assets/figure1.svg
  planning/assets/figure2.svg
  planning/assets/figure3.svg
  planning/assets/figure4.svg
  planning/assets/figure5.svg
  planning/assets/figure6.svg
  planning/assets/figure7.svg
  planning/assets/historyimage.png
  styles/style.css
Labels: could-have, css, html

#105 Adding Retrospective file
  pages/about.html
  pages/supportus.html
  planning/retrospective.md
Labels: md, Planning

#106 Faq
  planning/assets/faqimage.png
  planning/design.md
Labels: Planning, design

#114 adjusting the scrolling by using overflow property
  pages/about.html
  styles/style.css
Labels: css, html

#117 adding the header and title
  pages/faq.html
  planning/assets/faq.png
  planning/design.md
  styles/style.css
Labels: css, html

#118 update success story with responsive
  index.html
  pages/team.html
  planning/assets/dnyandeo.jpeg
  planning/assets/elias.jpeg
  planning/assets/kishi.png
  planning/assets/minju.jpeg
  styles/style.css
Labels: must have, css, html

#123 Making about page responsive
  styles/style.css
Labels: css, html

#124 Digitalents-design
  .cspell.json
  images/Digitalents-wireframe.png
  planning/design.md
Labels: Planning, design

#127 Creating Program subpage for hyf website
  pages/program.html
  planning/assets/students1.png
  planning/assets/students2.webp
  planning/assets/students3.jpeg
  planning/assets/students4.webp
  planning/students4.webp
  styles/style.css
Labels: program

#128 adding the aquestions and answers
  pages/faq.html
  styles/style.css
Labels: css, html

#129 Program
  pages/program.html
  styles/style.css
Labels: program

#130 adding footer and search bar
  pages/faq.html
  styles/style.css
Labels: css, html

#138 adjusting the search bar margin
  pages/faq.html
  styles/style.css
Labels: css

#141 Fixing the overflow to the about page
  pages/about.html
  styles/style.css
Labels: css, html

#143 fixing footer icons
  pages/faq.html
Labels: css, html

#145 fixed volunteer page error
  pages/volunteer.html
  styles/style.css
Labels: css, html

#147 program file error fixed
  styles/style.css
Labels: should have, css, html
